<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :username, :class => 'control-label'%>
      <div class="controls">
        <%= collection_select(:event, :user_id,
                User.all(:order =>'firstname'), :id, :firstname)%>
      </div>
  </div>
    <div class="control-group">
          <%= f.label :typ, :class => 'control-label'%>
          <div class="controls">
            <%= collection_select(:event, :eventitem_id,
                    Eventitem.all(:order =>'item    '), :id, :description)%>
          </div>
      </div>
    <div class="control-group">
        <%= f.label :color, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :color, :class => 'text_field' %>
        </div>
      </div>

    <div class="control-group">
        <%= f.label :starts_at, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :starts_at, :class => 'datetime_select' %>
        </div>
      </div>


   <div class="control-group">
     <%= f.label :ends_at, :class => 'control-label' %>
     <div class="controls">
       <%= f.text_field :ends_at, :class => 'datetime_select' %>
     </div>
   </div>

  <div class="control-group">
    <%= f.label :all_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :all_day, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
