<%= form_for @project, :html => {:class => 'form-horizontal'} do |f| %>
    <h2>Projekt anzeigen</h2>

    <div>
    <dl class="dl-horizontal">
      <dt><strong>Titel: </strong></dt>
      <dd><%= @project.title %></dd>
      <dt><strong>Start-Datum:</strong></dt>
      <dd><%= @project.starts_at.strftime("%d.%m.%y") %></dd>
      <dt><strong>Projekt-Ende:</strong></dt>
      <dd><%= @project.ends_at.strftime("%d.%m.%y") %></dd>
        <dt><strong>Verantwortlich:</strong></dt>
                      <dd><%= @project.user.firstname %></dd>
      <dt><strong>Beschreibung:</strong></dt>
      <dd><%= @project.description %></dd>
      <dt><strong>Projekt-Link:</strong></dt>
      <dd><a href=<%= @project.projectlink %>  target="_blank"><%= @project.projectlink %></a></dd>
    </dl>
    </div>

        <ul id="myTab" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#milestones" data-toggle="tab">Milestones</a></li>
            <li><a href="#todos" data-toggle="tab">Todos</a></li>
        </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="milestones">
                <%- model_class2 = Projectevent -%>

                <h3> Project-Milestones</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Milestone</th>
                        <th>Beginn</th>
                        <th>Ende</th>
                        <th>Status</th>

                    </tr>
                    </thead>

                    <% @projectevents.each do |projectevent| %>
                        <tr>
                            <td>
                                <span class="badge badge-warning">Milestone</span> <a href=<%= "/projectevent/#{projectevent.id}" %> ><%= projectevent.title %></a>

                            </td>
                            <td><%= projectevent.starts_at.strftime("%d.%m.%y") %></td>
                            <td><%= projectevent.ends_at.strftime("%d.%m.%y") %></td>
                            <td><%= projectevent.state %></td>


                        </tr>
                    <% end %>
                    </tbody>
                </table>


            </div>




        <%- model_class = Todo -%>



            <div class="tab-pane fade in " id="todos">
                <h3>ToDos</h3>

                <ul id="todos" data-update-url="<%= sort_todos_url %>">
                   <% @todos.each do |todo| %>
                        <% if todo.state=="offen"; @badge= "badge-important"; end %>
                        <% if todo.state=="in Arbeit"; @badge= "badge-warning"; end %>
                        <% if todo.state=="fertig"; @badge= "badge-success"; end %>
                        <%= content_tag_for :li, todo do %>
                                <span class="badge <%= "#{@badge}" %>">ToDo</span>

                            <%= link_to todo.todotitle, todo_path(todo) %>  /  <%= todo.user.name %>

                       <% end %>


                <% end %>
                </ul>




            </div>
           </div>
    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  projects_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_project_path(@project), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  project_path(@project),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>

<% end %>
