<%= form_for @todo, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :todotitle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :todotitle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
      </div>

    <div class="control-group">
            <%= f.label :username, :class => 'control-label' %>
            <div class="controls">
                <%= collection_select(:todo, :user_id,
                                      User.all(:order => 'firstname'), :id, :firstname) %>
            </div>
        </div>

  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :project_id, :class => 'number_field' %>
    </div>
  </div>



    <div class="control-group">
        <%= f.label :status, :class => 'control-label' %>
        <div class="controls">


    <%= select(:todo, :state, [@todo.state,
                         "offen",
                         "in Arbeit",
                         "fertig",]) %></td>
       </div>
        </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                "/projectcalendar", :class => 'btn' %>
  </div>
<% end %>
