<%- model_class = Todo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">


    <dt><strong>Todo:</strong></dt>
    <dd><%= @todo.todotitle %></dd>

      <dt><strong>Beschreibung:</strong></dt>
   <dd><%= @todo.description %> &nbsp </dd>

    <% if @todo.projectevent != nil %>
    <dt><strong>Milestone:</strong></dt>
      <dd><%= @todo.projectevent.title %> &nbsp</dd>
    <%end %>

        <dt><strong>Bearbeiter:</strong></dt>
  <dd><%= @todo.user.name %> &nbsp</dd>
  <dt><strong>Projekt:</strong></dt>
  <dd><%= @todo.project.title %> &nbsp</dd>
  <dt><strong>Status:</strong></dt>
  <dd><%= @todo.state %> &nbsp</dd>
  <dt><strong>Position:</strong></dt>
  <dd><%= @todo.position %> &nbsp</dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back'),
              "/projects/#{@todo.project_id}", :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_todo_path(@todo), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              todo_path(@todo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
