<%- model_class = Projectevent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @projectevent.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:starts_at) %>:</strong></dt>
  <dd><%= @projectevent.starts_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ends_at) %>:</strong></dt>
  <dd><%= @projectevent.ends_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:all_day) %>:</strong></dt>
  <dd><%= @projectevent.all_day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @projectevent.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projectevents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_projectevent_path(@projectevent), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              projectevent_path(@projectevent),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
